.page {
  background-color: blueviolet;
  height: 1000px;
  width: 100%;
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
  margin: 0 auto;
  display: inline-block;
}
.grid {
    background-color: green;
    width: 500px;
    height: 500px;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
  }

  .content {
    float: left;
    background: #ff11ff;
  }

  .sideBar {
    width: 400px;
    float: right;
    background: #dadada;
  }